!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge')
		title=project.title
		meta(name="viewport", content="width=device-width,initial-scale = 1.0")
		link(rel = 'stylesheet', type = 'text/css', href = 'static/demo/demo.css')
		link(rel = 'stylesheet', type = 'text/css', href = document.relativeSource)
	body
		.wrapper
			ul.demo-list
				- each component in document.components
					- if(!component.eof)
						each val in component.pattern
						li.demo-list_item(id=component.pattern.slug)
							h3.demo-list_header=component.pattern.name
							section!=component.pattern.markup
