/* ==========================================================================
   Flapjack Front End
   fj-component-demo styling
   ========================================================================== */

body {
  margin: 0;
  padding: 1.375em;
}

.demo-list,
.demo-list_item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.demo-list_item {
  padding: 2em 0;
  border-bottom: 1px solid black;
}

.demo-list_item:first-child {
  border-top: 1px solid black;
}

.demo-list_show-col:before {
  content: "";
  display: block;
  width: 100%;
  height: 1em;
  background: #FF9E1B;
}

.demo-list_footer {
  margin-top: 1.375em;
}

.demo-list_code {
  display: none;
  padding-top: 1.375em;
}
